{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                <p> published: {{ post.published_date }}</p>
            </div>
            <div class="writer">
                <p> 작성자 : {{post.author }} </p>
            </div>
            <h1><a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a></h1>
            <p>{{ post.content | linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}
